@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;500;700;900&display=swap");
/**** STYLE GÉNÉRAL ****/
html {
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }/*initialisation des navigateur*/
 
  @keyframes progressif{
	0%{opacity:0;}
	100%{opacity:1;}
  }
   
  #Entree2{
	animation: progressif 2s linear;
	opacity: 1;
  }

  #Plat2{
	animation: progressif 2s linear;
	animation-delay: 2s;
	opacity:1;
  }

  #Dessert2{
	animation: progressif 2s linear;
	animation-delay: 4s;
	opacity:1;
  }
  
footer {
	background-color: #252121;
	display: flex;
	align-items: flex-start;
	padding: 30px;
	color: white; 
  }
  
  footer ul li a {
	list-style-type: none;
	padding: 5px;
	text-decoration: none;
  }
  
 footer a {
	color: white;
  }/* ****************************** smartphone only ****************************** *//**** SMARTPHONE ***
@media (max-width: 768px) {*/
 body, html {
   margin: 0;
   font-family: "Roboto", sans-serif, "Shirkhand"; 
   scroll-behavior: smooth;
 }

 i.fas.fa-arrow-left {
    align-items: flex-start;
	height: 11px;
	margin-top: 95px;
    color:#353535;
	vertical-align:text-bottom;
    padding-top: 50px;
}

 h1 h2 h3 h4 h5 {
	font-family: "Shirkhand";
  }

p {
  font-family: "Roboto", sans-serif;
   font-style: initial;
   text-decoration: none;
}  

i .far.fa-heard::before {
	  position: absolute;
	  right: 0;
 }

.image_restaurant img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    object-position: center;
    text-decoration: none;
}

#imageC {
	flex: 1 1 0%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    object-position: center center;
    max-height: 370px;
    justify-content: center;
    max-width: 100%;
    height: auto;
    display: block;
    background-size: cover;
}

h1{
	position:relative;
	margin-top: -100px;
}

.header {
    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    z-index: 1000;
}
 
#logo {
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: 0;
	align-items: center;
	height: 35px;
	text-align: center;
 }

main.container_menu {
		max-width: 1280px;
		margin: auto;
		position: relative;
} 

main {	    
	display: block;
}

.menu_header h2 {
		display: flex;
		align-items: center;
		justify-content: space-between;
}
  
h2 {
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
}

h2 span, i {
	justify-content: space-between;
	position: relative;
	text-decoration: none;
	display: inline-block;
	vertical-align:top;
	margin-top:-2px;	
}

.menu__title {
    font-family: Shrikhand,"cursive";
}

.content{
	opacity: 0;
	 background: -webkit-linear-gradient( 
  0deg
   ,#9356dc,#ff79da);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	left: -38px;
	font-size: 31px;
	top: -0.2px;
	display: block;
  }
  
  .border {
	font-size:35px;
	top:-3px;
	margin-left:398px;
	vertical-align: baseline;
	position: relative;
  }
  
.content:hover {
	opacity: 1;
	transition: opacity 1s;
  }
  
i.far.fa-heart .border{
	display: flex;
	position :right;
	justify-content: flex-end;
	align-items: flex-end;
  }

.menu__title {
    font-family: Shrikhand,"cursive";
}
 
.border {
	font-size:35px;
	top:-3px;
	margin-left:398px;
	vertical-align: baseline;
	position: relative;
  }
  
.content:hover {
	opacity: 1;
	transition: opacity 1s;
}
  
i.far.fa-heart .border{
	display: flex;
	position :right;
	justify-content: flex-end;
	align-items: flex-end;
  }

section {
		  display: block;
}

.bloc__menu {
	  max-width: 100%;
	  overflow: hidden;
	  padding: 0 1rem;
}

.bloc_menu__title {
		text-transform: uppercase;
		position: relative;
		padding-bottom: .5rem;
		font-weight: 400;
        display: block;
	    font-size: 1.17em;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    font-weight: bold;
	    border-bottom: skyblue;
}

.bloc_menu__title:after {
			content: "";
			width: 3rem;
			height: .25rem;
			background-color: #99e2d0;
			position: absolute;
			left: 0;
			bottom: 0;
}

.check  { 
	opacity:0;
	transform: translateX(100%);
	transition: all 300ms;
	color: white;
	width:0px;
	font-size: 24px;
}
	  
.casesmenu:hover .check {
		  opacity: 1;
		  transform: translateX(0%);
		  border-top-right-radius: 0.75rem;
		  border-bottom-right-radius: 0.75rem; 
		  background-color:#99E2D0;
		  margin:-10px;
		  padding: 30px;
		  width: auto;
}
	  
.check i {
		  transition: all 400ms;
	  }
	  
.casesmenu:hover .check i {
		  transform: rotate(720deg);
	  } 
	  
.casesmenu {
	background-color: white;
	box-shadow:-1px 5px 10px 1px rgba(0, 0, 0,.1);
	border-radius:0.75rem;
	margin-top:20px;
	padding:10px;
	display: flex;
	justify-content: space-between;
} 
	  
.casesmenu p {
		  width:300px;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
}
	  
.casesmenu strong {
	font-size: 18px;
}
	  
.prix {
	padding-top: 22px;
	font-weight: bold;
}
	  
.bloc__menu {
	max-width: 100%;
	overflow: hidden;
	padding: 0 1rem;
	background-color: #f6f6f6;
}

.menu_header {
    position: relative;
    border-radius: 1.5rem 1.5rem 0 0;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 2.4rem 0 0 1.5rem;
    padding-top: 2.4rem;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1.5rem;
    margin-top: -2rem;
    background-color: #f6f6f6;
}

.commande_button {
	padding: 8px;
	line-height: 2;
	justify-content: initial;
	align-items: center;
	margin: auto;
	text-align: center;
	height: 50px;
	width: 210px;
	color:white;
	text-shadow: 1px 1px 1px rgb(38, 27, 68);
	border-radius: 30px;
	background-color: #aa5edc;
	background-image: linear-gradient(to bottom right, #ec73da, #ac5edb 50%);
									  rgba(247, 208, 245, 0.959));
	box-shadow: inset 2px 2px 3px   #a05adc,
				inset -2px -2px 3px #aa5edc;
  }
  
.commande_button:hover {
			opacity: 0.8;
  }
  
.commande_button:active {
	box-shadow: inset -2px -2px 3px rgba(233, 9, 203, 0.6),
				inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

#footer_logo a {
	   justify-content: initial;
		width: 50px;
		height: 10px;
		padding: 0;
}
	 
footer img {
	   display: flex;
	   flex-wrap: wrap;
	   position: relative;
	   top: 0;
	   font-size: 20px;
	   height: 35px;
	   margin-bottom: 8%;
} 
	 
footer .footer__seclect {
		margin-bottom: 32px;
		list-style-type: none;
}
	 
footer .footer__seclect a, ul, li {
	   list-style-type: none;
	   margin-top: 8px;
	   margin: 0;
	   padding: 0; 
	   text-decoration: none;
	   font-size: 18px; 
	   line-height: 140%;
    }
}  /* FIN smartphone only *//**** TABLETTE ***/
@media (max-width: 1024px) {
   body{
		overflow-x:hidden;
	  }

    .container {
	 width: 100%;
	 padding: 0 16px;
    }
    /*cartes restaurant alignées 2 par 2 pour tablette*/
    .restaurant_list_groupe1 .restaurant_list_groupe2 {
	  flex-direction: column;
	 width: 100%;
    }
  
    .restau .restaurant_list {
	 flex-basis: 100%;
	 margin-right: 0;
	 margin-top: 20px;
	 order: 2;
	}/* FIN tablette*/ 
     }