html {
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }/*initialisation des navigateur*/
/* ****************************** smartphone only ****************************** */
@media (max-width: 766px) {
   #rest_title h1{
	  justify-content: flex-start;
	} 
	
	article .restaurant h2 {
	text-align: left;
	}
	
	article {
	    border-radius: 15%;
		background-color:white;
	  }
	}
	 
	i .far fa-heard::before {
	  position: absolute;
	  right: 0;
    }
  
	.image_D {
		width: 30px;
		font-size: 16px;
		object-fit: cover;
		margin-top: 4%;
		image-rendering: auto;
	}
	 
	header {
	   width: 100%;
	   padding: 0 8px;
	}
	 
	header i.fas.fa-arrow-left {
		align-items: flex-start;
		height: 35px;
		margin-top: 25px;
		font-size: 1.5em !important;
	 }
	
	#logo {
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
		align-items: center;
		margin-top: 6%;
		left: 138px;
		height: 35px;
	  }

    h1 {
		display: flex;
		justify-content: space-between;
	  
		span, i {
		  display: inline-block;
		}
	  }

	.bloc__menu {
     border-radius: 15% O O 15%;
     background-color: white;
	}

    .containermenu__contenu:hover .valide {
	transform: translateX(0px)
    }
	
	.containermenu__checked {
	  color:blue;
	  border-radius: 0 30% 30% 0;
	  transform: translateX(60px);
	}
	
    .container__menu {
	 display: flex;
	 margin-bottom: 5%;
	 align-content: flex-start;
	 vertical-align:-16%;
	 border-radius: 12px;
	 height: 54px;
	 flex-basis: 100%;
	}
  
    .container__menu .containermenu__contenu {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 color: blue;
	 background-color: #F2F2F2;
	 color: black;
	 height: 52px;
	 padding: 0 16px;
	 line-height: 37px;
	 border-radius: 12px 0 0 12px;
	 align-content: stretch;
    }
  
	.Entrée .Plat .Dessert h2 {
		display: flex;
		float: left;
		border-bottom: solid #0065FC;
		color: black;
		padding: 35px;
		justify-content: stretch;
		text-decoration: none;
		font-size: 18px;
		background-color: white;
	}

    .container__menu .containermenu__contenu {
	 height: 100%;
	 border-radius: 0;
	 padding-left: 5px;
	 border: 1px solid #F2F2F2;
	 font-weight: 600;
    }
  
    .container__menu .containermenu__contenu .containermenu__checked.fas fa-yes {
	 background-color:#0065FC;
	 color: white;
    }
  
    .container__menu .containermenu__contenu .containermenu__checked {
	 height: 100%;
	 border: none;
	 background-color: #0065FC;
	 color: #fff;
	 font-weight: 600;
	 border-radius: 0 8px 8px 0;
	 cursor: pointer;
	}
  /*bouton rechercher idem*/
    .container__menu .containermenu__contenu .containermenu__checked:hover {
	 transform: translateY(-1px);
	 box-shadow: 1px 1px 1px 1px #F2F2F2;
	}

	.containermenu__price{
		display: flex;
		align-items: flex-end;
		font-size: bold 0.4;
		height: 100%;
		width: 40px;
		transition: margin 300ms ease-in-out;
	  }
	  
	  .containermenu__checked {
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		height: 70px;
		width: 57px;
		background-color: lightgrey;
		position: absolute;
		right: -57px;
		font-size: bold;
		transition: margin 300ms ease-in-out;
	  }
	  
	.containermenu__checked .i {
		  transform: rotate(0deg);
		  transition: transform 420ms ease;
	  }
	  
	.Commander {
		display: flex;
	  }
     /*commande_button*/
    .Commander {
	  line-height: 2.5;
	  height: 50px;
	  margin: auto;
	  width: 200px;
	  text-align: center;
	  color: white;
	  text-shadow: 1px 1px 1px rgb(38, 27, 68);
	  border-radius: 30px;
	  background-color: rgba(245, 9, 205);
	  background-image: linear-gradient(to top left,
										rgba(231, 138, 240, 0.966),
										rgb(240, 114, 208) 30%,
										rgba(247, 208, 245, 0.959));
	  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
				  inset -2px -2px 3px rgba(0, 0, 0, .6);
    }
  
    .Commander:hover {
	  background-color: rgb(238, 182, 226);
    }
  
    .Commander:active {
	  box-shadow: inset -2px -2px 3px rgba(233, 9, 203, 0.6),
				  inset 2px 2px 3px rgba(0, 0, 0, .6);
    }
     /*boutons menu aussi dans les fiches*/
	 footer {
		background-color: #252121;
		display: flex;
		align-items: flex-start;
		padding: 30px;
		color: white; 
	}
	
	footer ul li {
	  list-style-type: none;
	  padding: 5px ;
	}
	
	footer a {
		color: white;
	}
	
  } /* FIN smartphone only */
  /* ****************************** Tablette ****************************** */
  @media (min-width: 766px) and (max-width: 1200px) {
   
	body{
		overflow-x:hidden;
	  }

    .container {
	 width: 100%;
	 padding: 0 16px;
    }
    /*cartes restaurant alignées 2 par 2 pour tablette*/
    .restaurant_list_groupe1 .restaurant_list_groupe2 {
	  flex-direction: column;
	 width: 100%;
    }
  
    .restau .restaurant_list {
	 flex-basis: 100%;
	 margin-right: 0;
	 margin-top: 20px;
	 order: 2;
  }/* FIN tablet */
 }