@media all and (max-width: 1024px) {

html {
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }/*initialisation des navigateur*/

body {
  font-family:" Shrikhand, Roboto, Arial";
  padding: 0;
  box-sizing: border-box;
  margin: 5px;
  align-items: center;
  cursor: pointer;
  }

@font-face {
  font-family: "Shrikhand";
  src: url("../police/shrikhand/Shrikhand-Regular.ttf") format("truetype"),
       url("../police/shrikhand/Shrikhand-Bold.ttf") format("truetype")
}
/*Header*/
@font-face {
  font-family: "Roboto";
  src: url("../police/roboto/Roboto-Regular.ttf") format("truetype"),
       url("../police/roboto/Roboto-Bold.ttf") format("truetype")
}
/* Spinner
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}*/
@keyframes disapeareness {
  0%{
    top: 0;
  }

  80%{
    top: 0;
  }

  100%{
    animation-timing-function: cubic-bezier(.71,.07,.83,.67);
    top: -100%;
  }
}
/*
@keyframes space_spin{
    0%{
        scale: 1;
    }
    100% {
        scale: 0;
        display: none;
    }
}
/* Spinner
.loader_spinner {
  font-size:88px;
  color:red;
  font-size:88px;
  color:rgb(142, 255, 127);
  font-size:88px;
  color:aqua;
  font-size:88px;
  color:chartreuse;
}
.space_spinner{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255,0.9);
  position: absolute;
  display: grid;
  place-items: center center;
    & {
      animation: space_spin 3000ms ease-in-out;
              >.spinner{
                  animation: spin infinite 3000ms ease-in-out;
            }
       }
   }
.spinner{
  width: 50px;
  height: 50px;
  border: 10px dashed $color-one;
  border-left-color: $color-two;
  border-bottom-color: transparent;
  border-right-color: $color-lighttwo ;
  border-radius: 100%;
}
*/
section.container {
  padding: 0;
}

article .container {
  display: block;
  width: auto;
 }

main {
  margin: 0;
  padding: 5px;
  background-color: white;
}

main > h1, p, section {
  padding: 15px;
}

.header__logo {
  text-align: center;
  top:0;
}

.index {
  justify-content:space-between;
}

h1, h4, h5 {
font-family: Shirkhand;
text-align: center;
font-weight: bold;
color:black;
}

p, li{
  font-family: Roboto;
}

#logo {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  font-size: 20px;
  height: 35px;
  align-items: center;
  margin-bottom: 8%;
  left: 120px;
}
/*search button Paris-Belleville*/
.search_button {
    margin-bottom: 14px;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    background-color: rgb(126, 121, 125);
 }

.search_button:hover {
  background-color: #eaeaea;
}

.search_button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/*localisation icone*/
.fa.fa-map-maker {
  align-items: flex-start;
  vertical-align: middle;
  padding-top: 10px;
  width: 25px;
  line-height: 26px;
  display: inline-block;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height:10px;
  display: table-cell;
}

.index {
  text-align: center;
  padding-bottom: 5%;
}

.filters li {
  position: center;
}

.filters .filter_name {
  flex-basis: 100%;
  text-align: center;
}

.filters ul {
 list-style-type: none;
 display: inline-block;
}  

.filter li {
 vertical-align: middle;
 padding-top: 10px;
 width: 25px;
 line-height: 26px;
 display: inline-block;
 flex-wrap: nowrap;
 flex-direction: row;
 align-items: center;
 height:10px;
 text-align: right;
}

.filter_item1, .filter_item2, .filter_item3 {
 line-height: 35px;
 text-align: center;
 border: 2px solid #F2F2F2;
 height: 39px;
 position: relative;
 border-radius: 39px;
 padding-right: 8px;
 text-transform: capitalize;
 font-weight: bold; 
 cursor: pointer;
 width: 280px;
 display: inline-block;
 flex-direction: column;
 justify-content:center;
 }

.filters .filter_item:hover {
  background-color: #88b1ee;
  color: #fff;
  border: 2px solid #DEEBFF;
  transform: translateY(-1px);
  box-shadow: 1px 1px 1px 1px #DEEBFF;
 }

i.fas.fa-store {
  color:#9356dc;
}

.fas.fa-mobile-alt, .fas.fa-list-ul {
 color:#7e7e7e;
}
/*boutons menu aussi dans les fiches ? a voir*/
#circle {
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  border: 1px #9356dc;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  width: 40px;
  justify-content: flex-start;
  margin-top: 40px;
  vertical-align: middle;
  margin-bottom: 0px;
  align-self: flex-start;
  flex-shrink: 0;
}

.container .restaurants --description.chek-box {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
  background-color:#00e2c4 ;
  transition: >transform0.2s;
}

.container .restaurant_description:hover :check-box {
  transform: translatex(0%);
}

.restaurant_description .image {
  max-height: 358px; 
}

.image1 {
  max-width: 100%;
  height: auto;
  object-position: center;
  border-radius: 8%;  background-size: cover;
}

.image3 {
  max-width: 100%;
  height: auto;
}

.image4 {
  max-width: 100%;
  height: auto;
}

.restaurants h2 {
    text-align: center;
    font-size: initial 1.5em;
}

i.far fa-heart fa-2x {
    border-color: black;
    color: hsl(317, 26%, 95%);
    font-size: 13px;
    top: 0;
    align-items: flex-end; 
  }
  
i.far fa-heart fa-2x:hover {
    color: hsl(273, 52%, 60%);
    font-size: 23px;
  }
  
i.far fa-heart:hover {
    background-color: #ca00fc;
    color: #fff;
    border: 2px solid black;
    transform: translateY(-1px);
    box-shadow: 1px 1px 1px 1px #DEEBFF;
  }

.fa, .far .fas{
    font-family: Font Amesone 5 free;
  }
  
.fah, .far{
    font-weight: 400;
  }
  
.fa, .fah, .fad, .fal, .far, .fas{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }

  footer {
  background-color: #252121;
  display: flex;
  align-items: flex-start;
  padding: 30px;
  color: white; 
}

footer ul li {
  list-style-type: none;
  padding: 5px ;
}

footer a {
  color: white;
}

} /* FIN smartphone, tablet and screen until 1024px */
 
 /* ****************************** smartphone only ****************************** */
@media (max-width: 766px) {
/* Header filter */

.filters {
  cursor: pointer; 
}

.info1 img {
  vertical-align:-16%;
  padding-top: 10px;
  width: 25px;
  line-height: 36px;
  align-self: start;
  flex-shrink: 0;
}

.search_button{
  margin-top: 5%;
}
/*exploration_button*/
.exploration_button, .Commander {
    line-height: 2;
    justify-content: initial;
    align-items: center;
    padding: 20px;
    margin:auto;
    height: 50px;
    margin: auto;
    width: 210px;
    color:white;
    text-shadow: 1px 1px 1px rgb(38, 27, 68);
    border-radius: 30px;
    background-color: rgb(224, 108, 205);
    background-image: linear-gradient(to top left,
                                      rgba(239, 161, 247, 0.966),
                                      rgb(240, 114, 208) 30%,
                                      rgba(247, 208, 245, 0.959));
    box-shadow: inset 2px 2px 3px rgba(184, 4, 190, 0.6),
                inset -2px -2px 3px rgb(173, 3, 145);
}

.exploration_button:hover {
    background-color: rgb(238, 182, 226);
}

.exploration_button:active {
    box-shadow: inset -2px -2px 3px rgba(233, 9, 203, 0.6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.restaurant_list {
  flex-basis: 70%;
  padding: 15px;
  margin: 0 15px 0 0;
  border-radius: 18%;
  background-color: #F2F2F2;
  flex-grow: 1;
  align-items: center;
}

.card_restaurant .image img {
  width: 100%;
  max-height: 220px; 
  object-fit: cover;
  object-position: center;
}

.card_restaurant:hover {
  transform: scale(1.01);
  box-shadow: 0 0 3px 2px #F2F2F2;
}

.card_restaurant {
  display: flex;
  flex-basis: 45%;
  justify-content:space-between ;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 20px;
  float:left;
  width:100%;
  align-items:center;
}
/*
.image1, .image2, .image3, .image4 {
  width: 23%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200%;
  border-radius: 10px 10px 0 0;
  background-size: contain;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #F2F2F2;
  width : 100% auto;
  border-radius: 27px 27px; background-size: cover;
  background-position: center;
  height: auto;
}   /*a examiner^Î*/
h1 {
  margin-top: 10px;
  text-align: center;
} 

header {
  width: 100%;
  text-align: center;
  padding: 0;
}

.exploration_button {
 display: flex;
}

.header__logo {
  position: absolute;
  display: block;
  height: 30px;
  top: 15px;
  justify-content: center;
}
 
.filters {
  text-align: center;
}

.filter_name h2 {
  text-align: left;
}

h2 .restaurants {
  text-align: left;
}

.retaurant_name .restaurant_localisation span h3 {
  justify-content: initial;
  text-align: left;
  color:black;
}

.container .restaurant_description .card__body {
   display: flex;

   justify-content: space-between;
   margin-left: 10px;
   width: 80%;
}
 
 .restaurant_description .image {
  width: 100%;
  overflow: visible;
  border-radius: 8px 8px 0 0;
  flex-direction: column;
  justify-content: space-between;
  position: center;
}
 
.restaurant_list {
   margin-top: 20px;
   border-radius: 15%;
   margin: 0;
   padding: 0;
   background-color: #fff;
   flex-direction: column;
 }

.card__restaurant__title .card__restaurant__localisation h3 {
   display: flex;
   justify-content: space-between;
  
   span, i {
    display: inline-block;
   }
}
   
.card_restaurant {
   width: 100%;
   box-shadow: 0 0 6px 3px rgba(180, 178, 178, 0.274);
   border-radius: 15px;
 }
 
.restaurant .restaurant_list_group1 .restau_list_group2 .card_restaurant .image {
   width: 100%;
   height: 34rem; 
 }
 
.restaurant .restaurant_list_group1 .restau_list_group2 .card_restaurant .image img {
   height: 100%;
 }
 
.restaurant .restaurant_list .afficher {
   width: 90%;
   padding-left: 15px;
 }
  
.restaurant_list h2 {
   width: 90%;
   text-align: left;
 }
 
.restaurant_list .card__body {
   flex-direction: column;
   display: inline-block;
   padding: 0;
   justify-content: space-between;
  }
  
.restaurant_name h3 span {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color:black;
    text-align: left;
}
    
.restaurant_name i.fas .fa-heard{
      display: inline-block;
}

 .image1, .image2, .image3, .image4 {
    flex: 1;
    max-height: 220px;
    object-position: center;
    border-radius: 8% 8% 0 0;
    max-height:361px ;
    justify-content: center;
}
 
 footer {
   flex-direction: column;
   padding-bottom: 0;
   list-style-type: none;
 }

 #footer_logo a {
  justify-content: initial;
   width: 50px;
   height: 10px;
   padding: 0;
  }
 
 footer .footer__seclect {
   margin-bottom: 32px;
   list-style-type: none;
 }

 footer .footer__seclect a, ul, li{
  list-style-type: none;
  margin-top: 15px;
  margin: 0;
  padding: 0; 
  text-decoration: none;
  font-size: 18px; 
  line-height: 140%;
}
 
 } /* FIN smartphone only */
 /* ****************************** Tablette ****************************** */
 @media (min-width: 766px) and (max-width: 1200px) {
 
 .container {
   width: 100%;
   padding: 0 16px;
 }

 /*cartes restaurant alignées 2 par 2 pour tablette*/
 .restaurant_list_groupe1 .restaurant_list_groupe2 {
   flex-direction: column;
   width: 100%;
   display: flex;
   align-items: center;
   flex-wrap: nowrap;
}

 
 .restau .restaurant_list {
   flex-basis: 100%;
   margin-right: 0;
   margin-top: 20px;
   order: 2;
 }/* FIN tablet */
}


