@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;500;700;900&display=swap");
/**** STYLE GÉNÉRAL ****/

html {
	box-sizing: border-box;
  margin: auto;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  } /*initialisation des navigateur*/

body {
  font-family: "Shrikhand, Roboto, Arial";
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  }

body, html {
    margin: 0;
    font-family: Roboto, Arial;
    scroll-behavior: auto;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../police/shrikhand/Shrikhand-Regular.ttf") format("truetype"),
       url("../police/shrikhand/Shrikhand-Bold.ttf") format("truetype")
}

@font-face {
  font-family: "Roboto";
  src: url("../police/roboto/Roboto-Regular.ttf") format("truetype"),
       url("../police/roboto/Roboto-Bold.ttf") format("truetype")
}

.point {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: #9356DC;;
  border-radius: 25px;
  margin: 10px;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: 3;
  opacity: 0;
}

.point1 {
  animation-delay: 0.3s;
}

.point2 {
  animation-delay: 0.6s;
}

.point3 {
  animation-delay: 0.9s;
}

.loading {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: load;
  animation-duration: 4s;
  background-color: lightgray;
  animation-iteration-count: 1;
}

@keyframes blink {
  0% { opacity: 0; }
  50% {opacity: 1; }
  100% {opacity: 0; }
}

@keyframes load {
  0% { width: 100% }
  75% { width: 100% }
  100% { width: 0% }
}

.mypage {
  animation-delay: 3s;
  animation: loadpage 3s;
}

@keyframes loadpage { 
  0%   { width: 0%; opacity: 0;}
  99%  { width: 100%; opacity: 0;} 
  100% { width: 100%; opacity: 1;} 
} 

.restaurant_list {
  margin: 0 -5px;
  display: flex;
  margin-left: 10px;
}

.restaurant_list:after {
  content: "";
  display: table;
  clear: both;
  padding: 10px;
}

section .container {
  padding: 0;
  display:flex;
}

main {
  margin: 0px;
  padding: 5px;
  background-color: white;
}

main > h1, p, section {
  padding: 15px;
}

.header__logo a {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Shrikhand,"cursive";
    top:0;
    text-align: center;
}

.index {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 5%;
}

.index h3 {
  font-weight: 300;
  margin: 1.5rem 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.index h1 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.barrehr{
  margin-top: -20px;
  margin-bottom:- 25px;
  margin-left:  31%; 
  margin-right: auto;
  display: inline-block;
  width: 550px;
  height: 40px;
}

h1 h2 h5 {
text-align: center;
font-weight: bold;
color:black;
text-decoration: underline;
}

h1 h2 h3 h4 h5 {
  font-family: Shirkhand;
}

p, li {
  font-family: Roboto;
}

p {
  text-align: left;
}
/*search button Paris-Belleville*/
.search_button {
    margin-bottom: 10px;
    line-height: 2.5;
    padding: 0px;
    text-align: center;
    background-color: rgb(126, 121, 125);
 }

.search_button:hover {
  background-color: #eaeaea;
}

.search_button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/*localisation icone*/
.fa.fa-map-maker {
  vertical-align: middle;
  padding-top: 10px;
  width: 25px;
  line-height: 26px;
  display: inline-block;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height:10px;
  display: table-cell;
}

aside {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  border-color: darkgrey;
  margin-left: auto;
}

.filter_list {
  margin: 0 -5px;
}

.filter_list:after {
  content: "";
  display: table;
  clear: both;
  padding: 10px;
}

aside .filters {
  align-items: center;
  flex-basis: 0;
  justify-content: space-between;
}

aside .filter_list .info1 {
  display: inline-block;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 25px;
}

aside {
  max-width: 1280px;
  margin: auto;
  position: relative;
  align-items: center;
}

.filter_list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
  margin-left: 240px;
}

.info1:before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(147, 86, 220);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -.75rem;
}

.filter_list ol {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  counter-reset: compteListe;
  position:center;
}

.info1 li {
  padding: 1.5rem;
  margin: 1rem 0 1rem .75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}

li:first-child {
  margin-top: 0;
}

h2 {
  text-align: center;
}

.filters .filter_item:hover {
  background-color: #88b1ee;
  color: #fff;
  border: 2px solid #DEEBFF;
  transform: translateY(-1px);
  box-shadow: 1px 1px 1px 1px #DEEBFF;
 }

.filters {
  position: relative;
  text-decoration: none;
  justify-content: initial;
}
/*exploration_button*/
.exploration_button {
  padding:8px;
  line-height: 2;
  justify-content: initial;
  align-items: center;
  margin: auto;
  text-align: center;
  height: 50px;
  width: 210px;
  color:white;
  text-shadow: 1px 1px 1px rgb(38, 27, 68);
  border-radius: 30px;
  background-color: #aa5edc;
  background-image: linear-gradient(to bottom right, #ec73da, #ac5edb 50%);
                                    rgba(247, 208, 245, 0.959));
  box-shadow: inset 2px 2px 3px   #a05adc,
              inset -2px -2px 3px #aa5edc;
}

.exploration_button:hover {
          opacity: 0.8;
}

.exploration_button:active {
  box-shadow: inset -2px -2px 3px rgba(233, 9, 203, 0.6),
              inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.info1 {
  padding: 1.5rem;
  margin: 1rem 0 1rem .75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  font-weight: bold;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

i.fas.fa-mobile-alt, i.fas.fa-list-ul, i.fas.fa-store {
  color:#7e7e7e;
 }

i.fas.fa-mobile-alt:hover, i.fas.fa-list-ul:hover, i.fas.fa-store:hover {
  color:#9356dc;
}

.card_restaurant { 
  flex: auto;
  width: auto;
  display: inline-block;
  justify-content: space-between;
  max-height: 410px;
}

#card1 #card2{
width:300px;
}

.card__badge {
    background-color: #99e2d0;
    color: #1b6150;
    padding: .5rem;
    border-radius: .125rem;
    position: relative;
    top: -300px;
    left: 82%;
    margin-bottom:-270px;
}

.restaurant_liste_groupe1 .restaurant_liste_groupe2 {
  flex-direction: row;
  vertical-align: baseline;
  justify-content: space-between;
}

.restaurant_description {
  background-color: #fff;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block; 
  margin-left:50px;
  margin-right:50px ;
  margin-top: 10px;  
}

.card__restaurant__title{
  display:flex;
}

.content{
  opacity: 0;
   background: -webkit-linear-gradient( 
0deg
 ,#9356dc,#ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: -37px;
  font-size: 30px;
  top: -2px;
  display: block;
  object-fit: cover;
  object-position: center;
}

.border {
  font-size:35px;
  top:-1px;
  margin-left:320px;
  vertical-align: baseline;
  position: relative;
}

.content:hover {
  opacity: 1;
  transition: opacity 1s;
}

i.far.fa-heart .border{
  display: flex;
  position :right;
  justify-content: flex-end;
  align-items: flex-end;
}

.like_btn {
  display: inline-block;
  position: relative;
  justify-content: space-between;
  vertical-align: middle;
  margin-top: -2px;
  align-content: stretch;
}

.card__restaurant__localisation {
  align-items: flex-start;
  margin-top: -88px;
  color: black;
  margin-left: -16px;
}

.restaurant_name h3 span {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color:black; 
}

#restaurant_name1, #restaurant_name2 {
margin-left: 80px;
}

#card4{ 
  margin-top:40px;
}

.card__restaurant__localisation {
 display :flex;
 justify-content: flex-start;
 text-align: left;
 margin-left: -13px;
 margin-top:-30px;
 border-radius: 0 0 30px 30px;
}

.image4{
  height: 336px;
}

.image1 .image2 .image3 .image4 {
  flex: 1;
  object-position: 50% 50%;
  border-radius: 10px 10px 0 0;
  height: 340px ;
  justify-content: center;
  border: none;
  margin-left: none;
}

footer {
	background-color: #252121;
	display: flex;
	align-items: flex-start;
	padding: 30px;
	color: white; 
}
  
footer img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    font-size: 20px;
    height: 35px;
    margin-bottom: 8%;
} 

footer ul li {
	list-style-type: none;
	padding: 5px ;
}
  
footer a {
	color: white;
  }

  /* FIN smartphone, tablet and screen @media (max-width: 1280px) {*/
 /* ****************************** smartphone only ****************************** */
  /**** SMARTPHONE ****
 @media (max-width: 768px) { 
.restaurant_list {
    margin: 0 -5px;
    display: flex;
    flex-direction: column;
}

h1 {
  margin-top: 5px;
  text-align: center;
} 

.barre_img {
  display: none;
}

header {
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

#logo {
    margin: auto;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		top: 0;
		align-items: center;
		margin-top: 2%;
		height: 35px;
}

.search_button {
  margin-top: 2%;
}

.exploration_button {
 display: flex;
 padding: 8px;
}

aside { 
margin-bottom:-20px;
}

.filters {
  cursor: pointer; 
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}

.filters .filters_name .restaurants {
  flex-basis: 100%;
  text-align: left;
}

.filter li {
 position: relative;
 vertical-align: middle;
 padding-top: 10px;
 width: 25px;
 line-height: 26px;
 display: inline-block;
 flex-wrap: nowrap;
 flex-direction: row;
 align-items: center;
 height:10px;
 text-align: right;
}

.filters .filter_item:hover {
  background-color: #88b1ee;
  color: #fff;
  border: 2px solid #DEEBFF;
  transform: translateY(-1px);
  box-shadow: 1px 1px 1px 1px #DEEBFF;
 }

.content{
  opacity: 0;
   background: -webkit-linear-gradient( 
0deg
 ,#9356dc,#ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  left: -37px;
  font-size: 30px;
  top: -2px;
  display: block;
  object-fit: cover;
  object-position: center;
}
/*
#alaf{
  margin-left:422px; 
}

.border {
  font-size:35px;
  top:-5px;
  margin-left:398px;
  vertical-align: baseline;
  position: relative;
}

.content:hover {
  opacity: 1;
  transition: opacity 1s;
}

i.far.fa-heart .border{
  display: flex;
  position :right;
  justify-content: flex-end;
  align-items: flex-end;
}

.info1:first-child {
  margin-top: 0;
}
 
.ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.card_restaurant img {
  width: 100%;
  height: 15rem; 
  object-fit: cover;
  object-position: center;
  text-decoration: none;
  overflow: hidden;
  justify-content: space-between;
}

.card_restaurant:hover {
  transform: scale(1.01);
  box-shadow: 0 0 3px 2px #F2F2F2;
}

.card_restaurant {
 justify-content:space-between;
 text-decoration: none;
  display: block;
  position:relative;
  width: 100%;
  box-shadow: 0 0 6px 3px rgba(180, 178, 178, 0.274);
  border-radius: 10px 10px 0 0;
  text-decoration: none;
  flex-direction: column;
  margin-bottom: 20px;
  overflow:hidden;
}

.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: O;
  background-color: #f1f1f1;
  display: flex;
}

.card__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: .5rem;
  border-radius: .125rem;
  position: relative;
  top: 50px;
  left: 40%;
}

.restaurant_name .card__restaurant__localisation span h3  {
  justify-content: space space-between;
  text-decoration: none;
  color:black;
  display: inline-block;
  width:100%;
}

.restaurant_description{
    width: 100%;
    display:block;
    margin-bottom: 20px;
}

.restaurant_description .card__body {
   display: flex;
   text-decoration-line: none;
   height: 100px;
   background-color: #fff!important;
}
 
.restaurant_description{
  width: 100%;
  overflow: visible;
  border-radius:0 0 10px 10px ;
  flex-direction: column;
  justify-content: space-between;
  position: center;
  object-fit: cover;
}
 
.restaurant_name .card__restaurant__localisation h3 {
   display: flex;
   color: black;
   justify-content: space-between;
   text-decoration: none;  
}
/*


.card__restaurant__localisation {
  display :flex;
  justify-content: flex-start;
  text-align: left;
  margin-left: -13px;
  margin-top:-30px;
  border-radius: 0 0 10px 10px;
}

.container .card__body {
   flex-direction: column;
   display: inline-block;
   padding: 0;
   justify-content: space-between;
   color:black;
  }
 
.restaurant_name h3 span {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color:black; 
}

   .restaurant_name {
    display: inline-block;
    text-decoration: none;
    text-align: left;
    border-radius: O O 10px 10px;
}

footer {
	background-color: #252121;
	display: flex;
	align-items: flex-start;
	padding: 30px;
	color: white; 
}
  
footer img {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    font-size: 20px;
    height: 35px;
    margin-bottom: 8%;
} 

footer ul li {
	list-style-type: none;
	padding: 5px ;
}
  
footer a {
	color: white;
  }

}  FIN smartphone only */
/**** TABLETTE ****/
@media (max-width: 1024px) {
.container {
   width: 100%;
   padding: 0 16px;
 }
/*cartes restaurant alignées 2 par 2 pour tablette*/
 .restaurant_liste_groupe1 .restaurant_liste_groupe2 {
   flex-direction: row;
   width: 100%;
   display: inline-block;
   flex-wrap: wrap;
   position:relative;
   justify-content: space-between;
}

 .restaurant_list {
   flex-basis: 100%;
   display: flex;
   margin-right: 0;
 }
} /* FIN tablet */

/* masquer les éléments superflus 

.hide_mobile {
  display: none !important;
}

a voir desktop
@media screen and (max-width: 768px)
.function {
    background: #fff;
    grid-template-columns: 1fr 90% 1fr;
    padding: 0 0 40px 0;
    border-bottom: initial;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.function {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    grid-template-rows: 2;
    grid-column-start: 2;
    padding: 0 0 65px 0;
    font-size: 1rem;
    background: #f6f6f6;
    -webkit-box-shadow: 3px 0px 3px #73737338 inset;
    box-shadow: 3px 0px 3px #73737338 inset;
    border-bottom: 5px solid #9356dc;
}

