


@media (max-width: 600px)
.main_menu {
    margin-top: 1rem;
}
.main_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

h1{
    color: blue;
}

header h1 {
    padding: 1rem;
}

.main_soon .text_soon {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}
}

@media (max-width: 768px)
header h1 {
    font-size: 1.5rem;
    padding: 1rem;
}
header h1 {
    text-align: center;
    margin: 0rem;
    padding: 1.5rem;
}

h1 #logo {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.main_menu .container_link .link_menu {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_link1 .cont_link2{
    display: flex;
    flex-direction: row;
}

.cont_link3 .cont_link4{
    display: flex;
    flex-direction: row;
}


.link_menu1 {
    color: rgb(19, 143, 95);
}

a {
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.main_menu .container_link {
    min-width: 27rem;
    min-height: 35rem;
    text-align: center;
    margin: 2rem;
}
.main_soon {
    display: flex;
    justify-content: space-around;
}
.main_soon {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular',Verdana, sans-serif;
    color: rgb(21, 206, 212);
    font-size: 2rem;
}

.main_soon .text_soon {
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
}
.main_soon p {
    background-color: #569c87;
    padding: 0.7rem 2.3rem;
    border-radius: 10px;
    margin-bottom: 64px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main_soon {
    font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular',Verdana, sans-serif;
    color: #fcca46;
    font-size: 2rem;
}
}